@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Rubik&display=swap');

:root {
    --primary-color: #1f242d;
    --highlight-1: #eeba30;
    --highlight-2: #0ef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::selection {
    background: var(--highlight-2);
    color: var(--primary-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: #1f242d !important;
    color: #fff !important;
}

.navbar {
    background: #222831;
}

.navbar .navbar-brand {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    cursor: default;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: medium;
    font-weight: lighter;
    margin-left: 50px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar .nav-item .nav-link.active,
.navbar .nav-item .nav-link:focus,
.navbar .nav-item .nav-link:hover {
    color: #ff8a00;
    font-weight: bold;
    transition: 0.3s;
}

active {
    color: #ff8a00;
}

.nav-link {
    transition: transform 0.5s ease;
  }
  
  .nav-item:nth-child(1) .nav-link {
    --i: 1;
  }
  
  .nav-item:nth-child(2) .nav-link {
    --i: 2;
  }
  
  .nav-item:nth-child(3) .nav-link {
    --i: 3;
  }
  
  .nav-item:nth-child(4) .nav-link {
    --i: 4;
  }
  

.navbar .navbar-toggler-icon {
    box-shadow: none;
    color: white;
    padding-top: 10px;
}

.navbar .navbar-toggler {
    font-size: 40px;
    color: white;
    border: white;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.Home {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10% 5%;
    margin-bottom: 50px;
}

.home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 80%;
}

.home-content .text-container {
    flex: 1;
    text-align: left;
    padding: 20px;
    order: 0;
}

.home-content .text-container h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom .5s ease forwards;
    animation-delay: .2s;
}

.home-content .text-container h3 span {
    color: #0ef;
}

.home-content .text-container h1 {
    color: #eeba30;
    font-size: 50px;
    font-weight: 700;
    opacity: 0;
    animation: slideRight 1.5s ease forwards;
    animation-delay: .3s;
}

.home-content .text-container h3:nth-of-type(2) {
    margin-bottom: 20px;
    animation: slideTop .7s ease forwards;
    animation-delay: .2s;
}

.home-content p {
    font-size: 16px;
    /*
    background-color: #111318;
    padding: 10px;
    border: 2px solid #0ef;
    */
    max-width: -moz-fit-content;
    max-width: fit-content;
    opacity: 0;
    animation: slideLeft .5s ease forwards;
    animation-delay: .2s;
}

.home-content .home-buttons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.home-content .home-buttons button {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    margin: 20px 5px 80px 5px;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    opacity: 0;
    transition: 0.6s;
    animation: slideLeft .5s ease forwards;
    animation-delay: .2s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
}

.home-content .home-buttons button a {
    text-decoration: none;
    color: white;
}

.home-buttons button:hover {
    background: rgb(2, 29, 78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
}

.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 100%;
    color: #0ef;
    font-size: 20px;
    text-decoration: none;
    margin: 25px 15px 5px 0;
    animation: slideLeft .5s ease forwards;
    opacity: 0;
    animation-delay: .2s;
    transition: .5 ease;
}

.home-content .social-media a:hover {
    background-color: #0ef;
    color: #1f242d;
}

.home-img img {
    width: 350px;
    margin-left: 50%;
    min-width: 200px;
    height: auto;
    border-radius: 20% 0 20% 0;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}


/* Media query for screens with a maximum width of 750px (adjust this as needed) */
@media (max-width: 750px) {
    .home-img img {
        margin-left: auto;
    }

}
/* Media query for screens with a maximum width of 650px (adjust this as needed) */
@media (max-width: 650px) {

    .home-content {
        flex-direction: column;
        text-align: center;
        align-items: center;
        position: relative;
        left: 10%;
    }

    .home-content .text-container {
        text-align: center;
        padding: 0;
    }

    .home-content .text-container h3 {
        font-size: 22px;
        font-weight: 600;
    }

    .home-content .text-container h3 span {
        font-size: 17px;
        color: #0ef;
    }

    .home-content .text-container h1 {
        color: #eeba30;
        font-size: 25px;
        font-weight: 600;
    }

    .home-content .social-media a {
        width: 30px;
        height: 30px;
        font-size: 17px;
        margin: 25px 15px 5px 0;
    }

    .home-img img {
        width: 320px;
        /* Adjust the width as needed */
        margin: 20px 15px 5px 0;
        /* Add margin to the top and bottom of the image, remove left margin */
        border-radius: 10%;
    }

    .home-content .home-buttons button {
        font-size: 0.6rem;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/* About me section*/

.About-skills {
    background-color: #111318;
    padding: 5%;
    position: relative;
    width: 100%;
    height: 40%;
}

.about-img img {
    width: 320px;
    border-radius: 20% 0 20% 0;
}

.About-skills .text-container .human-icon {
    position: relative;
    top: 5px;
    font-size: 30px;
    color: white;
}

/* End about me*/

/* Starts project showcase */
.projects-showcase {
    position: relative;
    width: 100%;
    min-height: 500px;
    height: 50%;
}

.projects-showcase h1 {
    font-weight: 700;
}

.project-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: #111318;
}

.project-card img {
    width: 100%;
    height: 200px;
    transition: transform 1s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.project-card:hover img {
    filter: blur(3px);
    cursor: pointer;
    transform: scale(1.05);
}

.project-card .project-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(38, 38, 43, 0.8);
    color: #fff;
    padding: 5px 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.project-card:hover .project-name {
    cursor: pointer;
    opacity: 1;
}

@media (max-width: 600px) {
    .project-card img {
        height: auto;
    }
}

/* End of project showcase */

/* Skills section start */

.skills-section {
    width: 100%;
    text-align: center;
    padding: 50px;
    min-height: 500px;
}

.skills-section h2 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.skills-section p {
    margin-bottom: 2rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.container-Item {
    flex: 1;
    padding: 1.5rem;
    border-radius: 5px;
    text-align: center;
}

.h6 {
    margin-top: 1rem;
    font-weight: bold;
}

.skills {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    height: 20px;
}

.skills p {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    margin: 0;
    font-size: 12px;
    font-weight: 900px;
    color: #fff;
}

.front {
    width: 60%;
    background: linear-gradient(to right, #fdb603 0%, #fffc5a 100%);
}

.back {
    width: 50%;
    background: linear-gradient(to right, #112D5E 0%, #B21F66 100%);
}

.desk {
    width: 80%;
    background: linear-gradient(to right, #7700ff 0%, #8559ff 100%);
}

.python {
    width: 50%;
    background: linear-gradient(to right, #306998 0%, #0a9eee 100%);
}

.java {
    width: 50%;
    background: radial-gradient(circle at 0.8% 1.8%, #FF686B 0%, #FFBB67 100%);
}

/* Skills section end */

/* Start footer */
.footer {
    width: 100%;
    padding: 30px 20px 30px 20px;
    box-shadow: 2px 2px 4px brgb(19, 19, 19);
    align-items: center;
    z-index: 99;
    color:#fff;
    background: #222831;
}

.arrow-icon {
    font-size: 42px;
    color: white;
}

.arrow-icon:hover {
    color:rgb(92, 242, 253);
}

.footer-clean h3 {
  margin-top:20px;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .copyright {
  margin-top:30px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}
/* End footer */